@import "reset";
@import "../styles/variables/global";
@import "../styles/themes/normal";
@import "../styles/themes/dark";

.app {
  font: var(--font-m);
  background-color: var(--bg-color-body);
  color: var(--primaty-color);
  min-height: 100vh;
  font-family: var(--font-family-main);
}

.content-page {
  display: flex;
  padding-top: var(--navbar-height);
}

.page-wrapper {
  flex-grow: 1;
}

.sb-show-main.sb-main-padded {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
