.LoginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}
