.app_dark_theme {
  --bg-color-body: #18181b;
  --bg-color-sidebar: #1f1f23;
  --bg-color-header: #0e0e10;
  --primary-color: #fff;
  --secondary-color: #a970ff;
  --color-border-input: rgb(255 255 255 / 12%);
  --color-bg-input: #1f1f23;
  --color-placeholder: rgb(211 211 211 / 40%);
}
