.app_light_theme {
  --bg-color-body: #f7f7f8;
  --bg-color-sidebar: #e5e5e5;
  --bg-color-header: #fff;
  --primary-color: #000;
  --secondary-color: #a970ff;
  --color-border-input: rgb(0 0 0 / 12%);
  --color-bg-input: #e5e5e5;
  --color-placeholder: rgb(109 102 102 / 50%);
}
