.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-color-sidebar);
  position: relative;
  transition: width 0.2s ease-in-out;
}

.navigation {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 8px;

  &__item {
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    transition-property: none;

    &__collapsed {
      justify-content: center;
    }
  }

  &__icon {
    width: var(--font-line-m);
    height: var(--font-line-m);
    fill: var(--primaty-color);
    display: flex;
    align-items: center;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.collapse_btn {
  position: absolute;
  top: 40%;
  right: -12px;
  background-color: var(--bg-color-sidebar) !important;
}
